div.f2{
    background-image: url(./drew-coffman-1872.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    
}

.f2 img{
    text-align: left;
}
nav{
    text-align: right;
    margin-top: -50px;
    margin-right:70px ;
}
nav a{
    
    color: aliceblue;
    text-decoration: none;
    padding: 15px 10px;
    font-size: 20px;
    
    
        
    
}
 div.f3{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: bisque;
    font-size: 30px;
    margin-top: 150px;
 }
 div.f3 h4{
    margin-left: 50px;
    margin-right: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
 }
 div.f4 button{
  
    text-align: center;
    
 }
 div.f4{
    text-align: center;
 }


 div.f4 button.f5{
    text-align: center;
    background-color: rgb(129, 100, 57);
    color: rgb(243, 240, 237);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding: 10px;
    border-radius: 10px;
    border-color: transparent;
 }

 div.f4 button.f6{
    background-color: transparent;
    border-radius: 10px;
    border: white  solid;
    font-size: 15px;
    color: white;
    padding: 15px;
 }
 
div.f7 img{
    width: 500px;
    height: 500px;
    margin: 100px;
    
}

div.f8{
   float: right;
   width: 300px;
   margin: 70px 400px 20px 20px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

   font-size: 20px;
   
}

div.f9{
    background-color: rgba(163, 163, 163, .1);
    height: 100vh;
    
}


.f9 h1.b9{
    position: relative;
    top: 40px;
    left: 90px;
}
.f9 p.b10{
    width: 400px;
    position: relative;
    top: 70px;
    left: 90px;

}
.f9 img.b11{
    float: right;
    width: 400px;
    height: 400px;
    position: relative;
    top: -350px;
    left: -300px;
}


div.f10{
    position: relative;
    top: 10px;
    left: 600px;
}
.f10 h3{
    position: relative;
    top: 10px;
    left: -100px;
}
div.f12 img{
    width: 300px;
    height: 300px;
    padding: 40px;
    position: relative;
    top: 80px;
    left: 120px;
}
div.f13 p{
    width: 300px;
    padding: 20px;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
div.f13 p.f14{
    position: relative;
    top: 30px;
    left: 160px;
    font-size: 20px;
}
div.f13 p.f15{
    position: relative;
    top: -180px;
    left: 550px;
    font-size: 20px;
}
div.f13 p.f16{
    position: relative;
    top: -350px;
    left: 950px;
    font-size: 20px;
}
div.f17{
    background-color: rgba(163, 163, 163, .1);
    height: 100vh;
}
.f17 h1{
    position: relative;
    top: 50px;
    left: 200px;
    font-weight: 300;
}
.f17 p.b30{
    width: 300px;
    position: relative;
    top: 70px;
    left: 200px;
}
.f17 h1.b31{
    position: relative;
    top: 100px;
    font-size: 30px;
    font-weight: 300;
}
.f17 img.b32{
    position: relative;
    top: 85px;
    left: -500px;
}
.f17 img.b34{
    position: relative;
    top: 135px;
    left: -450px;
}
.f17 img.b36{
    position: relative;
    top: 175px;
    left: -398px;
}
.f17 img.b38{
    position: relative;
    top: 210px;
    left: -340px;
}
.f17 p.b33{
    position: relative;
    top: 100px;
    left: 300px;
}
.f17 p.b35{
    position: relative;
    top: 150px;
    left: 300px;
}
.f17 p.b37{
    position: relative;
    top: 190px;
    left: 300px;
}
.f17 p.b39{
    position: relative;
    top: 230px;
    left: 310px;
}

div.f18 img{
    float: right;
    position: relative;
    top: 50px;
    left: 50px;

}

div.f19{
    background-color: rgba(42, 35, 35, .8);
    color: azure;
    font-family: Arial, Helvetica, sans-serif;
    height: 70vh;

    
}
.f19{
    border-bottom: solid 1px white;
}
.f19 p.b50{
    position: relative;
    top: 30px;
    left: 50px;
    font-weight: 200;
}
.f19 p.b51{
    width: 300px;
    position: relative;
    top: 50px;
    left: 50px;
}
.f19 p.b52{
    width: 300px;
    position: relative;
    top: 100px;
    left: 50px;
}
.f19 p.b53{
    position: relative;
    top: -160px;
    left: 500px;
}
.f19 .b60{
    position: relative;
    top: -130px;
    left: 480px;
}
.f19 .b60 .b55{
    padding: 20px;
    border-bottom: 1px solid white;
    width: 250px;
}
.f19 .b60 .b54{
    padding: 20px;
    border-bottom: 1px solid white;
    width: 250px;
}
.f19 .b60 .b56{
    padding: 20px;
    border-bottom: 1px solid white;
    width: 290px;
}
.f19 .b60 .b57{
    padding: 20px;
    border-bottom: 1px solid white;
    width: 250px;
}
.f19 .b60 .b58{
    padding: 20px;
    border-bottom: 1px solid white;
    width: 250px;
}






.f19 p.b70{
    position: relative;
    top: -570px;
    left: 850px;
}
.f19 .b71{
    position: relative;
    top: -540px;
    left: 850px;
}
.f19 .b71 .b73{
    padding: 20px;
    border-bottom: 1px solid white;
    width: 250px;
}
.f19 .b71 .b72{
    padding: 20px;
    border-bottom: 1px solid white;
    width: 250px;
}
.f19 .b71 .b74{
    padding: 20px;
    border-bottom: 1px solid white;
    width: 290px;
}
.f19 .b71 .b75{
    padding: 20px;
    border-bottom: 1px solid white;
    width: 250px;
}
.f19 .b71 .b76{
    padding: 20px;
    border-bottom: 1px solid white;
    width: 250px;
}
.f19 .b81{
    position: relative;
    top: -990px;
    left: 1200px;
    color:white;
}
.f19 .b81 .b83{
    border-bottom: 1px solid white;
    width: 210px;
    padding: 10px;
    position: relative;
    top: -80px;
    left: 50px;
}
.f19 .b81 .b84{
    position: relative;
    top: -40px;
}
.f19 .b81 .b85{
    border-bottom: 1px solid white;
    width: 210px;
    padding: 10px;
    position: relative;
    top: -100px;
    left: 50px;
}
.f19 .b81 .b86{
    position: relative;
    top: -40px;
}
.f19 .b81 .b87{
    border-bottom: 1px solid white;
    width: 210px;
    padding: 10px;
    position: relative;
    top: -100px;
    left: 50px;
}
.f19 .b81 .b88{
    position: relative;
    top: -40px;
}
.f19 .b81 .b89{
    border-bottom: 1px solid white;
    width: 210px;
    padding: 10px;
    position: relative;
    top: -70px;
    left: 20px;
    text-decoration: none;
    color:white;
}

div.f20{
    background-color: rgb(23, 19, 13);
    color: aliceblue;
}
div.f20 img{
    margin-left: 500px;

}
div.f20 p{
    position: relative;
    top:10px ;
    left: 550px;
}
.f20 img.b40{
    width: 40px;
    height: 40px;
    position:relative ;
    top: 10px;
    left: 70px;
}
.f20 img.b41{
    width: 40px;
    height: 40px;
    position:relative ;
    top: 10px;
    left: -400px;
}
.f20 img.b42{
    width: 40px;
    height: 40px;
    position:relative ;
    top: -30px;
    left: 220px;
}

.f7 img.a1{
    width:80px;
    height:80px;
    position: relative;
    top: -500px;
    left: 650px;
}
.f7 p.b2{
    float: right;
    position: relative;
    top: -390px;
    left: -400px;
}
.f7 img.b3{
    width:80px;
    height:80px;
    position: relative;
    top: -400px;
    left: 360px;
}
.f7 p.b4{
    float: right;
    position: relative;
    top: -290px;
    left: -80px;
}
.f7 img.b5{
    width:80px;
    height:80px;
    position: relative;
    top: -290px;
    left: 90px;
}
.f7 p.b6{
    float: right;
    position: relative;
    top: -470px;
    left: -470px;
}
.f7 img.b7{
    width:80px;
    height:80px;
    position: relative;
    top: -450px;
    left: 670px;
}
.f7 p.b8{
    float: right;
    position: relative;
    top: -340px;
    left: -130px;
}